<h1>{{title}}</h1>
<!-- двусторонее свзяывание -->
<input type="text" [(ngModel)]="title"> 
<span>{{title | uppercase}}</span>
<!-- байнд в одну сторону []
    байнд  в обе стороны [()]
-->
<!-- ........ -->


<!-- директива стайл -->
<button (click)="backgroundToggle = !backgroundToggle" >click</button>
<div  [ngStyle]="{
width: '200px',
height: '200px',
borderRadius: '8px',
border: '1px solid black',
marginTop: '20px',
background: backgroundToggle ? 'red': 'blue'
}">
</div>
<!-- ........л -->


<!-- Динамические классы -->
<p [ngClass] = "{
  red: backgroundToggle,
   blue: !backgroundToggle
  }" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, repellat?</p>
<!-- если вариантов много -->
<!-- если вариантов мало -->
  <p [class.red] = "!backgroundToggle">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, repellat?</p>
<!-- ........ -->


<!-- ng по условию if else -->
<div>
  <button (click)="toggle = !toggle" >click</button>
  <p *ngIf="toggle; else blueP"    class="blue">1</p>
</div>
<ng-template #blueP>
  <p  class="red">2</p>
</ng-template>
<!-- *ngIf как в реакт можно удалят\отображать элемент -->
<!-- *ngIf так же можно выбрать иной вариант отрисовки с помощью  else-->
<!-- ng-template - контейнер в котором храним контет, свзявываем его с помощью имени через # -->
<!-- ........ -->


<!-- ng switch -->
<div [ngSwitch]="toggle">
  <button (click)="toggle = 1111" >reset</button>
<p *ngSwitchCase="true" class="red">LLL</p>
<p *ngSwitchCase="false" class="blue">MMM</p>
<p *ngSwitchDefault>RRR</p>

<!-- *ngSwitchDefault дефолтное значение, если ничего не выполнится сверху -->

</div>
<!-- ........ -->


<!-- ngFor -->  
<div>
<ul>
  <li *ngFor="let i of arr; let idx =  index">{{idx}}{{i}}</li>
</ul>
<!-- ngFor типа мапа элементов в реакте -->

<ul>
  <li *ngFor="let post of obj">
  <p>{{post.title}}<b>{{post.name}}</b>  </p>
  <ul>
    <li *ngFor="let item of post.commet">
      <small>{{item.name}}</small>
      <small>{{item.value}}</small>
    </li>
  </ul>
  </li>
</ul>
<!-- Пример работы с массивом в массиве -->
</div>
<!-- ........ -->